* {
    margin: 0;
    padding: 0;
}

:root {
    --g-blue: #0060cc;
    --g-gray: #ddd;
    --g-light: #f8f8f8;
    --g-black: #000;
    --g-bg-header: #eaeaea;
    --g-bg-short: #707070;
    --g-bg-special: #484343;
}

@font-face {
    font-family: 'mr';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Montserrat-Regular.eot');
    src:
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.woff') format('woff'), 
        url('../fonts/Montserrat-Regular.woff2') format('woff2'), 
}

body {
    background: var(--g-light);
    font-family: mr;
}

/* HEADER */

#header {
    margin-bottom: 30px;
}

.header {
    background: var(--g-gray);
    border-radius: 0px 0px 25px 25px;
    padding: 15px 0 15px 0;

}

.header-img {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.logo-header {
    display: block;
    margin: 0 auto; 
}
.logo-text {
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.header-text {
    display: flex;
    align-items: center;
}

.header-div-form {
    display: flex;
    justify-content: end;
}

.header-form {
    margin-right: 40px;
}
.header-form-label {
    font-size: 14px;
}

#inputPassword6 {
    font-size: 14px;
}

.header-form .form-control {
    max-width: 200px; 
}

.header-form-login {
    margin-right: 10px;
}

.btn-header {
    font-size: 14px;
}

.btn-primary {
    background: var(--g-blue);
    border: var(--g-blue) 1px solid;
}
.btn-primary:hover {
    background: var(--g-light);
    border: var(--g-blue) 1px solid;
    color: var(--g-blue);
}

.btn-link {
    color: var(--g-blue);
    text-decoration: none;
}
.btn-link:hover {
    background: var(--g-light);
    border: var(--g-blue) 1px solid;
    color: var(--g-blue);
}

.header-buttons {
    justify-content: end;
}

/* MENU */

.menu-ul {
    display: flex;
    justify-content:space-around;
    list-style: none;
    align-items: center;
    margin-bottom: 30px;
}

.menu-ul li a {
    text-decoration: none;
    color: var(--g-blue);
    font-size: 18px;
}

/* SIDEBAR */

.sidebar-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 50px 0 0 10px;
}

.sidebar-ul li a {
    text-decoration: none;
    color: var(--g-blue);
    font-size: 18px;
}

.sidebar-ul li {
    margin-bottom: 10px;
}

/* MAIN */

.main-app {
    background: var(--g-gray);
    border-radius: 25px 25px 0px 0px ;
    padding: 15px 0 15px 0;
}

h1 {
    font-size: 33px;
    margin: 50px 0 50px 10px;
}

h2 {
    margin: 50px 0 50px 0;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 22px;
}

.main-img {
    width: 350px;
    height: auto;
    display:table-cell; 
    vertical-align:middle;
}

.main-row {
    display:table-row;
    margin-bottom: 30px;
}

.main-text {
    display:table-cell; 
    vertical-align:middle;
}
.main-row-space {
    margin-bottom: 70px;
}

/* FOOTER */

.footer-ul {
    padding-left: 0;
}
.footer-text {
    text-align: center;
    margin-top: 40px;
}

/* ABOUT */

.about-text {
    margin: 0 30px 50px 0;
}

.about-text-last {
    margin-bottom: 0;
}

.about-h {
    margin-bottom: 30px;
}

.about-text-blue {
    display: flex;
    align-items: center;
    color: var(--g-blue);
    font-weight: 600;
}

.about-text-p {
    display: flex;
    align-items: center;
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img > img {
    vertical-align: middle;
}

.about-row {
    background: var(--g-light);
    border-radius: 25px;
    padding: 30px 0 30px 0;
    margin-bottom: 30px;
}

.about-row-last {
    margin-bottom: 0;
}

/* HISTORY */

.history-year {
    color: var(--g-blue);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-ul {
    margin-right: 40px;
    list-style: none;
}
.history-line {
    background: var(--g-blue);
    width: 100%;
    height: 1px;
    margin: 25px 0 40px 0;
}

/* TEAM */

.team-img {
    width: 200px;
    border-radius: 25px;
}

.team-h {
    margin-left: 10px;
}

.team-row {
    display:table-row;
    margin-bottom: 30px;
}

.team-row-space {
    margin-bottom: 50px;
}

.team-text {
    display:table-cell; 
    vertical-align:middle;
    margin-right: 30px;
}

.team-text-p {
    margin-right: 30px;
}

/* CATALOG */

.catalog-row {
    display:table-row;
    margin-bottom: 30px;
}

.catalog-row-space {
    margin-bottom: 30px;
}

.catalog-text {
    display:table-cell; 
    vertical-align:middle;
    margin-right: 30px;
}


.catalog-img {
    margin-left: 30px;
}

.catalog-h > a {
    color: var(--g-blue);
}

.catalog-h > a:hover {
    color: #000;
}

.catalog-text {
    margin-bottom: 40px;
}

.catalog-img-block {
    display: flex;
    height: 100px;
    margin-left: 36px;
}
.catalog-img-size {
    width: 100px;
}

/* PRODUCT */

.product-h2 {
    font-size: 30px;

}
.product-h-name {
    font-size: 25px;
    color: var(--g-blue);
    margin-bottom: 40px;
}

.product-h {
    color: var(--g-black);
    font-size: 18px;
    font-weight: 400;
    background: var(--g-bg-header);
    margin-bottom: 30px;
}

.product-short {
    color: var(--g-bg-short);
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 50px;
}

.product-detailed {
    color: var(--g-bg-special);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 50px;
}

.product-speial {
    list-style: url(../img/icons/check16.png);
    font-size: 14px;
    margin-bottom: 50px;
}

.product-speial li {
    margin-bottom: 5px;
    width: 500px;
}

.btn-secondary {
    margin-left: 30px;
    background: var(--g-gray);
    border: var(--g-blue) 1px solid;
    color: var(--g-blue);
}

.btn-secondary:hover {
    background: var(--g-light);
    border: var(--g-blue) 1px solid;
    color: var(--g-blue);
}

.product-row {
    margin-bottom: 30px;
}

/* CONTACTS */

.contacts-p {
    margin-right: 30px;
}

.contacts-h3 {
    color: var(--g-blue);
    margin-bottom: 30px;
}
.contacts-h4 {
    margin-bottom: 25px;
}

.contacts-map {
    margin: 30px 0 30px 0;
}

.contacts-a {
    text-decoration: none;
    color: var(--g-blue);
}
.contacts-a:hover {
    text-decoration: underline;
}

.form-contact-header {
    margin-bottom: 40px;
    color: var(--g-blue);
}

.form-contact-input {
    margin-bottom: 15px;
    width: 300px;
    margin-left: 60px;
    height: 30px;
    color:#0060cc;
    font-size: 16px;
    font-style: italic;
    padding-left: 30px;
    font-family: mr;
    border-radius: 5px;
    border: 0;
}

.form-contact-topic {
    margin: 0 0 30px 5px;
}

.form-contact-textarea {
    width: 300px;
    margin: -10px 0 30px 3px;
    padding: 10px 0 0 30px;
    font-size: 16px;
    font-style: italic;
    font-family: mr;
    height: 100px;
    vertical-align: top;
    border-radius: 5px;
    border: 0;
    color:#0060cc;
}

.form-contact-check {
    margin: 0 0 30px 20px;
}
.form-contact-check > label {
    margin-left: 10px;
}

.form-contact-btn {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--g-blue);
    color: var(--g-blue);
    font-size: 16px;
    font-family: mr;
    margin: 0 0 30px 80px;

}

.form-contact-btn:hover {
    background: var(--g-blue);
    color: #eaeaea;
    cursor: pointer;
    transition: 0.3s;
}

.contacts-ul > li > a {
    text-decoration: none;
    color: var(--g-black);
}

.contacts-ul > li > a:hover {
    color: var(--g-blue);
}

.contacts-ul > li {
    list-style: none;
    
}
